name: Build and Test

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions: {}

jobs:

  build:
    strategy:
      # run all tests even if e.g. image tests fail early
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        python-version:
        - 3.10.0
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
        # Test all on ubuntu, test ends on macos and windows
        include:
        - os: macos-latest
          python-version: 3.10.0
        - os: windows-latest
          python-version: 3.10.0
        - os: macos-latest
          python-version: '3.14'
        - os: windows-latest
          python-version: '3.14'
        - os: ubuntu-22.04
          python-version: 3.10.0
          install-args: --resolution=lowest

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout repo
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        python-version: ${{ matrix.python-version }}
        prune-cache: false

    - name: Build
      run: |
        uv sync --group test ${{ matrix.install-args }}
    - name: Run test suite
      run: |
        uv run --no-sync pytest --color yes
